In [1]:
import pandas as pd
import numpy as np

In [168]:
train = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9,0]})

In [169]:
test = pd.DataFrame(np.random.randint(0,100,size=(10,1)),columns=list('a'))

In [9]:
from sklearn.model_selection import StratifiedKFold

In [107]:
dic = train.T.groupby(0).agg('mean')
dic

     1   2    3   4    5   6  7  8    9
0
1    2   3    4   5    6   7  8  9    0
2    0   0    0   0    0   0  0  0    0
10  43  69  235  57  234  56  3  7  121
24  35  12   73  57  235   7  3  5  124

In [56]:
dic = dic.to_dict()[1]

In [57]:
dic

{1: 2, 10: 43, 24: 35}

In [59]:
train['a'+'_env'] = train['a'].apply(lambda x: dic.get(x, 0))

In [66]:
def addition(x,y):
    return x+y
addition(1,2)

3

In [67]:
(lambda x,y: x+y)(1,2)

3

In [85]:
(lambda x: dic.get(x,0))

In [90]:
train

   a    b    c  a_env
0  1   24   10      2
1  2   35   43      0
2  3   12   69      0
3  4   73  235      0
4  5   57   57      0
5  6  235  234      0
6  7    7   56      0
7  8    3    3      0
8  9    5    7      0
9  0  124  121      0

In [106]:
dic

{1: 2, 10: 43, 24: 35}

In [105]:
train['a'].apply(lambda x: dic.get(x,0))

0    2
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: a, dtype: int64

In [60]:
train['a_env']

0    2
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: a_env, dtype: int64

In [170]:
[train,test]

[   a
 0  1
 1  2
 2  3
 3  4
 4  5
 5  6
 6  7
 7  8
 8  9
 9  0,     a
 0  40
 1  79
 2  55
 3   0
 4  22
 5  60
 6  11
 7  12
 8  22
 9  51]

In [160]:
def Gini(y_true, y_pred):
    # first compare the number of prediction and the answer
    assert y_true.shape == y_pred.shape
    n_samples = y_true.shape[0]

    # sort prediction value(y_pred) in ascending order
    arr = np.array([y_true, y_pred]).transpose()
    true_order = arr[arr[:, 0].argsort()][::-1, 0]
    pred_order = arr[arr[:, 1].argsort()][::-1, 0]

    # Compute Lorenz curves
    L_true = np.cumsum(true_order) * 1. / np.sum(true_order)
    L_pred = np.cumsum(pred_order) * 1. / np.sum(pred_order)
    L_ones = np.linspace(1 / n_samples, 1, n_samples)

    # compute Gini coefficient
    G_true = np.sum(L_ones - L_true)
    G_pred = np.sum(L_ones - L_pred)

    # Regularize Gini coefficient
    return G_pred * 1. / G_true